.invalid::part(base) {
  @apply border-red-400;
  @apply border-2;
}

.input::part(base) {
  border-radius: var(--photon-border-radius, 0.5rem);
  @apply hover:cursor-pointer;
}

.input::part(input) {
  @apply overflow-hidden;
  @apply overflow-ellipsis;
  @apply whitespace-nowrap;
}

.input {
  --sl-input-required-content-color: theme(colors.red.400);
  --sl-input-label-font-size-medium: theme(fontSize.sm);
  --sl-input-label-color: theme(colors.gray.700);
}

.input::part(form-control-label) {
  padding-bottom: theme(padding.2);
}

.disabled::part(base) {
  @apply hover:cursor-not-allowed;
}

.selected::part(base) {
  @apply bg-[#3182CE];
  @apply text-white;
}

.default::part(base) {
  @apply hover:bg-gray-200;
  @apply hover:text-gray-800;
}

.default::part(label) {
  @apply w-full;
  @apply overflow-hidden;
}

.group-member::part(base) {
  @apply pl-4;
  @apply font-medium;
}

.group::part(base) {
  background: #d1e9ff;
  @apply py-1;
  @apply text-gray-800;
  font-size: 0.75rem;
  font-weight: 600;
}

.dropdown::part(panel) {
  border-radius: var(--photon-border-radius, 0.5rem);
}

.dropdown-container {
  border-radius: var(--photon-border-radius, 0.5rem);
}
