.remove-icon-button::part(base):hover,
.remove-icon-button::part(base):focus {
  @apply text-red-500;
}

.edit-icon-button::part(base):hover,
.edit-icon-button::part(base):focus {
  @apply text-yellow-500;
}

.enable-switch {
  --width: 60px;
  --height: 32px;
  --thumb-size: 26px;
  --sl-color-primary-600: theme(colors.green.500);
}
