# For local dev server:
PLAYWRIGHT_BASE_URL=http://localhost:3000

# For deployed environments:
# PLAYWRIGHT_BASE_URL=https://app.boson.health
# PLAYWRIGHT_BASE_URL=https://app.neutron.health

PLAYWRIGHT_E2E_ACCOUNT_USERNAME="test_user_1"
PLAYWRIGHT_E2E_ACCOUNT_PASSWORD="PASTE_FROM_PASSWORD_MANAGER"

PLAYWRIGHT_E2E_SSO_ACCOUNT_USERNAME="fakecustomer1.boson@gmail.com"
PLAYWRIGHT_E2E_SSO_ACCOUNT_PASSWORD="PASTE_FROM_PASSWORD_MANAGER"
